<ion-footer>
  <!-- <img src="assets/banner-footer.png"> -->
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-title>Nosotros</ion-title>
        <ion-item>Distribuidores</ion-item>
        <ion-item>Aliados</ion-item>
        <ion-item>Trabaja con Nosotros</ion-item>
        <ion-item>Proveedores</ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-title>Metodos de Pago</ion-title>
        <ion-item>Distribuidores</ion-item>
        <ion-item>Aliados</ion-item>
        <ion-item>Trabaja con Nosotros</ion-item>
        <ion-item>Proveedores</ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-title>Trabaja Con Nosotros</ion-title>
        <ion-item>Distribuidores</ion-item>
        <ion-item>Aliados</ion-item>
        <ion-item>Trabaja con Nosotros</ion-item>
        <ion-item>Proveedores</ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-title>Contactanos</ion-title>
        <ion-item>Redes Sociales</ion-item>
        <ion-item>Telefonos</ion-item>
        <ion-item>Aliados</ion-item>
        <ion-item>Trabaja con Nosotros</ion-item>
        <ion-item>Proveedores</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-footer>
 
