.potato-logo{
    margin-left: 2%;
    margin-top: 0,5%;
    margin-bottom: 0,5%;
    
}
.name-logo{
    margin-top: 6px;
    margin-right: 5%;
    width: auto;
    min-height: auto;
}
ion-button {
    margin-left: 3%;
}
ion-icon {
    margin: 1%;
    
}

